<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
	<title></title>
	<script type="text/javascript" src="js/angular.js"></script>
    <style type="text/css">
      
    </style>
</head>
<body>
<form name="form"ng-controller="c2_1">
  <div>学制：
      <select 
      ng-model="a" 
      ng-options="v.id as v.name for v in data"
      >
      <option value="">--请选择--</option>
      </select>
  </div>
  <div>班级：
      <select
      ng-model="b"
      ng-options="v.id as v.name group by v.grade for v in b_data"
      >
       <option value="">--请选择--</option>
      </select>
  </div>

</form>
<script type="text/javascript">
var app = angular.module('app',[]);
app.controller('c2_1',['$scope',function($scope){
    $scope.a = "";
    $scope.b = "";
    $scope.data= [
        {id:"1001",name:"小学"},
        {id:"1002",name:"初中"},
        {id:"1003",name:"高中"}
    ];
    $scope.b_data= [
        {id:"1001",name:"(1)班",grade:"一年级"},
        {id:"1002",name:"(2)班",grade:"一年级"},
        {id:"2001",name:"(1)班",grade:"二年级"},
        {id:"2002",name:"(2)班",grade:"二年级"},
        {id:"3001",name:"(1)班",grade:"三年级"},
        {id:"3002",name:"(2)班",grade:"三年级"}
    ];
}])
</script>
</body>
</html>