<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
	<title></title>
	<script type="text/javascript" src="js/angular.js"></script>
    <style type="text/css">
        ul .bold{
            font-weight: bold;
        }
        ul .odd{
            background: #ede;
        }
        ul .even{
            background: #ccc;
        }
        ul .focus{
            background: blue;
        }
        }
    </style>
</head>
<div ng-controller="c2_1">
    <ul>
        <li ng-class="{{bold}}">
            <span>序号</span>
            <span>姓名</span>
            <span>性别</span>
            <span>是否首条</span>
            <span>是否未条</span>
        </li>
        <li 
        ng-class-odd="'odd"
        ng-class-even="'even'"
        ng-click='li_click($index)'
        ng-class='{focus:$index==focus}'
        ng-repeat="stu in data">
            <span>{{$index+1}}</span>
            <span>{{stu.name}}</span>
            <span>{{stu.sex}}</span>
            <span>{{$first?'是':'否'}}</span>
            <span>{{$last?'是':'否'}}</span>
        </li>
    </ul>
</div>
<body>
<script type="text/javascript">
var app = angular.module('app',[]);
app.controller('c2_1',['$scope',function ($scope) {
    $scope.bold="bold";
    $scope.li_click=function(i){
        $scope.focus = i;
    }
    $scope.data=[
        {name:"舒丽琦1",sex:"女1"},
        {name:"舒丽琦2",sex:"女2"},
        {name:"舒丽琦3",sex:"女3"},
        {name:"舒丽琦4",sex:"女4"},
        {name:"舒丽琦5",sex:"女5"},
        {name:"舒丽琦6",sex:"女6"}
    ];
}])
</script>
</body>
</html>